<form>
    <div class="form-group">
        <div class="col-md-4">
            <label for="firstName"> First Name </label>
            <input required minlength="3" maxlength="16" ngModel name="firstName" #firstName="ngModel" id="firstName"
                type="text" class="form-control">

            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">

                <div *ngIf="firstName.errors.required"> First Name is required</div>
                <div *ngIf="firstName.errors.minlength"> FirstName should be at least 3 characters</div>
                <div *ngIf="firstName.errors.maxlength"> FirstName should be maximun 16 characters</div>
            </div>
        </div>

        <div class="col-md-4">
            <label for="email"> Email </label>

            <!-- pattern="^[a-zA-Z0-9]+([_-.+][a-zA-Z0-9]+)*[@][a-zA-Z0-9]+[.][A-Za-z0-9]{2,4}({[.][a-zA-Z]{2}})$" -->

            <input required
                ngModel #email="ngModel" name="email"  id="email" type="text" class="form-control">

            <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required"> email is required</div>
                
            </div>
        </div>

        <div class="col-md-4">
            <label for="message"> Message </label>
            <input #message="ngModel" required minlength="5" maxlength="120" ngModel name="message" id="message"
                type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="message.touched && !message.valid">
                <div *ngIf="message.errors.required"> message is required</div>
                <div *ngIf="message.errors.minlength"> message should be at least 5 characters</div>
                <div *ngIf="message.errors.maxlength"> message should be maximun 120 characters</div>
            </div>
        </div>
    </div>
    
    <button class="btn btn-primary" type="button" (click) = "createUser()">Submit</button>
</form>